<c8y-title *ngIf="app">Logs: {{ app.name || app.contextPath }}</c8y-title>

<c8y-action-bar-item *ngIf="selectedLog" [placement]="'right'">
  <button class="btn btn-link" (click)="downloadLogFile()">
    <i c8yIcon="download"></i>
    Download Log
  </button>
</c8y-action-bar-item>

<div *ngIf="!loading; else loadingIndicator" class="card content-fullpage">
  <div class="d-flex d-col fit-h fit-w">
    <div class="card-header separator">
      <h4 class="card-title">{{selectedLog?.instanceName}}</h4>
    </div>
    <div
      class="card-block fit-h flex-grow"
    >
      <textarea
        class="fit-h fit-w"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        [ngModel]="selectedLog?.logs"
        readonly
      ></textarea>
</div>
  </div>
</div>

<ng-template #loadingIndicator>
  <div class="content-fullpage">
    <div class="fit-h fit-w d-flex j-c-center a-i-center">
      <c8y-loading></c8y-loading>
    </div>
  </div>
</ng-template>
