<div class="card d-flex d-col" style="min-height: 50vh; max-height: 90vh;">
  <div class="card-header separator">
    <h4 class="card-title">Device Creation History</h4>
  </div>
  <div class="card-block flex-grow">
    <canvas baseChart  *ngIf="!isLoading; else loadingIndicator"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [plugins]="lineChartPlugins"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [colors]="lineChartColors"
      (dblclick)="resetZoom()">
    </canvas>
  </div>
  
</div>

<ng-template #loadingIndicator>
  <div class="flex-col flex-evenly fit-h fit-w">
    <c8y-loading></c8y-loading>
  </div>
</ng-template>
