<c8y-title>Device Lookup</c8y-title>

<div class="split-scroll">
  <c8y-data-grid
    [title]="'Devices' | translate"
    class="scroll-column sort-fix"
    [noMatchingItemsLabel]="'No matching Template.'"
    [columns]="columns"
    [pagination]="datasource.pagination"
    [selectable]="false"
    [actionControls]="[]"
    [bulkActionControls]="[]"
    [serverSideDataCallback]="datasource.serverSideDataCallback"
    [itemsSelectLimit]="10"
  >
    <c8y-column name="tenant">
      <ng-container *c8yCellRendererDef="let context">
        <ps-tenant-details [tenantId]="context.value"></ps-tenant-details>
      </ng-container>
    </c8y-column>
    <c8y-column name="alarms">
      <ng-container *c8yCellRendererDef="let context">
        <i class="status fa fw fa-warning" [ngClass]="context.value?.critical ? 'critical' : ''" [title]="'Critical Alarms: ' + (context.value?.critical || 0)"></i>
        <i class="status fa fw fa-exclamation-circle" [ngClass]="context.value?.major ? 'major' : ''" [title]="'Major Alarms: ' + (context.value?.major || 0)"></i>
        <i class="status fa fw fa-exclamation-circle" [ngClass]="context.value?.minor ? 'minor' : ''" [title]="'Minor Alarms: ' + (context.value?.minor || 0)"></i>
        <i class="status fa fw fa-circle" [ngClass]="context.value?.warning ? 'warning' : ''" [title]="'Warning Alarms: ' + (context.value?.warning || 0)"></i>
      </ng-container>
    </c8y-column>

    
    <c8y-column name="lastUpdated">
      <ng-container *c8yCellRendererDef="let context">
        {{ context.value | date: "medium" }}
      </ng-container>
    </c8y-column>
    <c8y-column name="creationTime">
      <ng-container *c8yCellRendererDef="let context">
        {{ context.value | date: "medium" }}
      </ng-container>
    </c8y-column>
    <c8y-column name="lastMessage">
      <ng-container *c8yCellRendererDef="let context">
        {{ context.value | date: "medium" }}
      </ng-container>
    </c8y-column>
    <c8y-column name="actions1">
      <ng-container *c8yCellRendererDef="let context">
        <div class="btn-group btn-group-sm" role="group">
          <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-default" title="Restart Device" *ngIf="context.item.data?.operations?.c8y_Restart" (click)="restartDevice(context.item)">
              <i class="fa fw fa-refresh"></i>
            </button>
            <button class="btn btn-default" title="Firmware Update" *ngIf="context.item.data?.operations?.c8y_Firmware" (click)="firmwareUpdate(context.item)">
              <i class="fa fw fa-floppy-o"></i>
            </button>
            <button class="btn btn-default" title="Configuration Update" *ngIf="context.item.data?.operations?.c8y_Configuration" (click)="configurationUpdate(context.item)">
              <i class="fa fw fa-gears"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </c8y-column>
  </c8y-data-grid>
</div>
