<c8y-title>Device Lookup</c8y-title>

<div class="split-scroll">
  <c8y-data-grid
    [title]="'Devices' | translate"
    class="scroll-column sort-fix fit-w"
    [columns]="columns"
    [pagination]="datasource.pagination"
    [selectable]="true"
    [actionControls]="[]"
    [bulkActionControls]="bulkActionControls"
    [serverSideDataCallback]="datasource.serverSideDataCallback"
    [itemsSelectLimit]="50"
  >
    <c8y-column name="tenant">
      <ng-container *c8yCellRendererDef="let context">
        <ps-tenant-details [tenantId]="context.value"></ps-tenant-details>
      </ng-container>
    </c8y-column>
    <c8y-column name="alarms">
      <ng-container *c8yCellRendererDef="let context">
        <i c8yIcon="warning" class="status" [ngClass]="context.value?.critical ? 'critical' : ''" [title]="'Critical Alarms: ' + (context.value?.critical || 0)"></i>
        <i c8yIcon="exclamation-circle" class="status" [ngClass]="context.value?.major ? 'major' : ''" [title]="'Major Alarms: ' + (context.value?.major || 0)"></i>
        <i c8yIcon="exclamation-circle" class="status" [ngClass]="context.value?.minor ? 'minor' : ''" [title]="'Minor Alarms: ' + (context.value?.minor || 0)"></i>
        <i c8yIcon="circle" class="status" [ngClass]="context.value?.warning ? 'warning' : ''" [title]="'Warning Alarms: ' + (context.value?.warning || 0)"></i>
      </ng-container>
    </c8y-column>

    
    <c8y-column name="lastUpdated">
      <ng-container *c8yCellRendererDef="let context">
        {{ context.value | date: "medium" }}
      </ng-container>
    </c8y-column>
    <c8y-column name="creationTime">
      <ng-container *c8yCellRendererDef="let context">
        {{ context.value | date: "medium" }}
      </ng-container>
    </c8y-column>
    <c8y-column name="lastMessage">
      <ng-container *c8yCellRendererDef="let context">
        {{ context.value | date: "medium" }}
      </ng-container>
    </c8y-column>
    <c8y-column name="actions1">
      <ng-container *c8yCellRendererDef="let context">
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn btn-default" title="Restart Device" *ngIf="context.item.operations?.c8y_Restart" (click)="restartDevice(context.item)">
            <i c8yIcon="refresh"></i>
          </button>
          <button class="btn btn-default" title="Firmware Update" *ngIf="context.item.operations?.c8y_Firmware" (click)="firmwareUpdate(context.item)">
            <i c8yIcon="floppy-o"></i>
          </button>
          <button class="btn btn-default" title="Configuration Update" *ngIf="context.item.operations?.c8y_Configuration" (click)="configurationUpdate(context.item)">
            <i c8yIcon="gears"></i>
          </button>
          <button *ngFor="let action of context.item.actions" [ngClass]="action.buttonClasses || 'btn btn-default'" [title]="action.title || 'Unknown'" (click)="performCustomAction(action, context.item)">
            <i [c8yIcon]="action.iconClasses || 'gears'"></i>
          </button>
        </div>
      </ng-container>
    </c8y-column>
  </c8y-data-grid>
</div>
