<div class="modal-header dialog-header">
  <i c8yIcon="pencil"></i>
  <h4 translate>Change Password of User: {{ user.id }}</h4>
</div>
<div class="modal-body dialog-body">
    <div class="form-group">
      <div class="legend form-block top-m-xxl">
        <span translate>New Password</span>
      </div>
      <input class="form-control" type="password" [(ngModel)]="password">
    </div>
    <div class="form-group">
      <div class="legend form-block top-m-xxl">
        <span translate>Confirm Password</span>
      </div>
      <input class="form-control" type="password" [(ngModel)]="passwordConfirm">
    </div>
</div>
<div class="modal-footer">
  <button
    class="btn btn-default"
    translate
    type="button"
    title="{{ 'Cancel' | translate }}"
    (click)="onDismiss($event)"
  >
    Cancel
  </button>
  <button
    class="btn btn-primary"
    [disabled]="!password || !passwordConfirm || password !== passwordConfirm"
    translate
    type="submit"
    title="{{ 'Change Password' | translate }}"
    (click)="onSave($event)"
  >
    Change Password
  </button>
</div>