<c8y-title>{{ 'Tenant Options' | translate }}</c8y-title>
<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" (click)="provisionTenantOption()">
    <i c8yIcon="arrow-circle-right"></i>
    Provision Custom/New Tenant Option
  </button>
</c8y-action-bar-item>

<div class="split-scroll">
  <c8y-data-grid
    [title]="tenant? 'Tenant Options - ' + tenant.name : 'Tenant Options ' | translate "
    class="scroll-column sort-fix fit-w"
    [columns]="columns"
    [pagination]="datasource.pagination"
    [selectable]="false"
    [actionControls]="[]"
    [bulkActionControls]="[]"
    [serverSideDataCallback]="datasource.serverSideDataCallback"
  >
    <c8y-column name="actions1">
      <ng-container *c8yCellRendererDef="let context">
        <div class="btn-group btn-group-sm" role="group">
          
          
          
          <button class="btn btn-default" title="(Re-)Provision to specific subtenants" (click)="provisionTenantOption(context.item)">
            <i c8yIcon="refresh"></i>
            (Re-)Provision
          </button>
          <button class="btn btn-danger" title="Delete from specific subtenants"
            (click)="deprovisionTenantOption(context.item)">
            <i c8yIcon="trash"></i>
          </button>

        </div>
      </ng-container>
    </c8y-column>
  </c8y-data-grid>
</div>
