<c8y-title>Smart Groups</c8y-title>

<div class="split-scroll">
  <c8y-data-grid
    [title]="'Smart Groups' | translate"
    class="scroll-column sort-fix fit-w"
    [columns]="columns"
    [pagination]="datasource.pagination"
    [selectable]="false"
    [actionControls]="[]"
    [bulkActionControls]="[]"
    [serverSideDataCallback]="datasource.serverSideDataCallback"
    [itemsSelectLimit]="50"
  >

    <c8y-column name="actions1">
      <ng-container *c8yCellRendererDef="let context">
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn btn-default" title="(Re-)Provision to specific subtenants" (click)="provisionSmartGroup(context.item)">
            <i c8yIcon="refresh"></i>
            (Re-)Provision
          </button>
          <button class="btn btn-danger" title="Delete from specific subtenants" (click)="deleteSmartGroup(context.item)">
            <i c8yIcon="trash"></i>
          </button>
        </div>
      </ng-container>
    </c8y-column>
  </c8y-data-grid>
</div>