<c8y-title>User Lookup</c8y-title>
<c8y-action-bar-item [itemClass]="'navbar-form'">
  <div class="input-group input-group-search">
    <input title="Username Filter" type="search" class="form-control" placeholder="Filter for Username" [(ngModel)]="usernameSearchString">
    <span class="input-group-addon">
      <i c8y-icon="search" *ngIf="!usernameSearchString" class="fa fw fa-search"></i>
      <i c8y-icon="times" class="text-muted fa fw fa-times" *ngIf="usernameSearchString" (click)="usernameSearchString = ''"></i>
    </span>
  </div>
</c8y-action-bar-item>

<c8y-action-bar-item [itemClass]="'navbar-form'">
  <div class="input-group input-group-search">
    <input title="E-Mail Filter" type="search" class="form-control" placeholder="Filter for E-Mail" [(ngModel)]="emailSearchString">
    <span class="input-group-addon">
      <i c8y-icon="search" *ngIf="!emailSearchString" class="fa fw fa-search"></i>
      <i c8y-icon="times" class="text-muted fa fw fa-times" *ngIf="emailSearchString" (click)="emailSearchString = ''"></i>
    </span>
  </div>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" (click)="lookup()">
    <i c8yIcon="arrow-circle-right"></i>
    Lookup User
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" [disabled]="!clients?.length" (click)="createNewUser()">
    <i c8yIcon="c8y-add-user"></i>
    Create User
  </button>
</c8y-action-bar-item>

<div class="c8y-empty-state text-center" *ngIf="isLoading || users?.length === 0">
  <div class="spinner p-relative" *ngIf="isLoading">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <h1 class="c8y-icon c8y-icon-users c8y-icon-duocolor" *ngIf="!isLoading"></h1>
  <h3>{{(isLoading ? 'Loading users' : 'Nothing to display') | translate}}</h3>
</div>

<table class="table" *ngIf="!isLoading && users?.length">
  <caption>Users Matching above filter</caption>
  <colgroup>
    <col width="20px">
    <!-- <col width="33%">
    <col width="33%">
    <col width="33%"> -->
  </colgroup>
  <thead>
    <tr>
      <th>#</th>
      <th>Tenant</th>
      <th>Activated</th>
      <th>Username</th>
      <th>E-Mail</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>TFA Enabled</th>
      <th>Last Password Change</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users; let i=index">
      <th scope="row">{{i + 1}}</th>
      <td><ps-tenant-details [tenantId]="item.tenantId"></ps-tenant-details></td>
      <td><i [class]="item.data.enabled ? 'fa fa-check text-success': 'fa fa-ban text-danger'"></i></td>
      <td>{{ item.data.userName }}</td>
      <td>{{ item.data.email || '--' }}</td>
      <td>{{ item.data.firstName || '--' }}</td>
      <td>{{ item.data.lastName || '--' }}</td>
      <td><i [class]="item.data.twoFactorAuthenticationEnabled ? 'fa fa-check text-success': 'fa fa-close text-danger'"></i></td>
      <td>{{ item.data.lastPasswordChange | date: 'short' }}</td>
      <td>
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn btn-default" [title]="item.data.enabled ? 'Disable User' : 'Enable User'" (click)="toggleUserActivation(item)">
            <i [class]="!item.data.enabled ? 'fa fa-check text-success': 'fa fa-ban text-danger'"></i>
          </button>
          <button class="btn btn-default" title="Delete User" (click)="deleteUser(item)">
            <i class="fa fw fa-trash"></i>
          </button>
          <button class="btn btn-default" title="Change Password" (click)="changePassword(item)">
            <i class="fa fw fa-pencil"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>