<c8y-title>Retention Rules</c8y-title>

<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" (click)="createNewRetentionRule()">
    <i c8yIcon="plus"></i>
    Create Retention Rule
  </button>
</c8y-action-bar-item>

<div class="split-scroll">
  <c8y-data-grid
    [title]="'Retention Rules' | translate"
    class="scroll-column sort-fix fit-w"
    [columns]="columns"
    [pagination]="datasource.pagination"
    [selectable]="false"
    [actionControls]="[]"
    [bulkActionControls]="[]"
    [serverSideDataCallback]="datasource.serverSideDataCallback"
    [itemsSelectLimit]="50"
    [refresh]="refresh"
  >
    <c8y-column name="tenant">
      <ng-container *c8yCellRendererDef="let context">
        <ps-tenant-details [tenantId]="context.value"></ps-tenant-details>
      </ng-container>
    </c8y-column>

    <c8y-column name="dataType">
      <ng-container *c8yCellRendererDef="let context">
        <ng-container [ngSwitch]="context.value">
          <div title="Alarm" *ngSwitchCase="'ALARM'">
            <i c8yIcon="bell"></i>
            <span ng-bind="dt.label | translate">Alarm</span>
          </div>

          <div title="Event" *ngSwitchCase="'EVENT'">
            <i c8yIcon="rss"></i>
            <span ng-bind="dt.label | translate">Event</span>
          </div>

          <div title="Measurement" *ngSwitchCase="'MEASUREMENT'">
            <i c8yIcon="bar-chart"></i>
            <span ng-bind="dt.label | translate">Measurement</span>
          </div>

          <div title="Operation" *ngSwitchCase="'OPERATION'">
            <i c8yIcon="c8y-energy"></i>
            <span ng-bind="dt.label | translate">Operation</span>
          </div>

          <div title="Bulk-Operation" *ngSwitchCase="'BULK_OPERATION'">
            <i c8yIcon="c8y-energy"></i>
            <span ng-bind="dt.label | translate">Bulk-Operation</span>
          </div>

          <div title="Audit" *ngSwitchCase="'AUDIT'">
            <i c8yIcon="calendar-check-o"></i>
            <span ng-bind="dt.label | translate">Audit</span>
          </div>

          <div title="All" *ngSwitchCase="'*'">
            <i c8yIcon="asterisk"></i>
            <span ng-bind="dt.label | translate">All</span>
          </div>
        </ng-container>
      </ng-container>
    </c8y-column>

    <c8y-column name="actions1">
      <ng-container *c8yCellRendererDef="let context">
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn btn-default" title="Edit Rule" [disabled]="!context.item.data.editable" (click)="editRule(context.item)">
            <i c8yIcon="pencil"></i>
          </button>
          <button class="btn btn-danger" title="Delete Rule" [disabled]="!context.item.data.editable" (click)="deleteRule(context.item)">
            <i c8yIcon="trash"></i>
          </button>
        </div>
      </ng-container>
    </c8y-column>
  </c8y-data-grid>
</div>