<c8y-list-group class="m-b-24">
  <c8y-li [emptyActions]="true" class="page-sticky-header hidden-xs">
    <c8y-li-icon>
      <i class="p-l-40"></i>
    </c8y-li-icon>
    <c8y-li-body class="content-flex-60">
      <div class="col-3 m-l-40">
        {{ "Version" | translate }}
      </div>
      <div class="col-4">
        {{ "Release Date" | translate }}
      </div>
    </c8y-li-body>
  </c8y-li>
  <c8y-li
    *c8yFor="
      let baseVersion of firmwareVersions;
      let i = index;
      loadMore: 'auto'
    "
  >
    <c8y-li-radio
      (onSelect)="updateSelected($event, baseVersion)"
    ></c8y-li-radio>
    <c8y-li-icon>
      <i c8yIcon="c8y-firmware"></i>
    </c8y-li-icon>
    <c8y-li-body class="content-flex-50">
      <div class="col-3">
        <p class="text-truncate" title="{{ baseVersion.c8y_Firmware.version }}">
          {{ baseVersion.c8y_Firmware.version }}
          <span
            class="label label-info m-l-auto-sm m-l-8"
            *ngIf="firmwareVersions?.data[0] === baseVersion"
          >
            <span translate>Latest</span>
          </span>
        </p>
      </div>
      <div class="col-4">
        <p>{{ baseVersion.lastUpdated | c8yDate }}</p>
      </div>
    </c8y-li-body>
  </c8y-li>
</c8y-list-group>
