<c8y-title>Firmware Update History</c8y-title>

<div class="split-scroll">
  <c8y-data-grid
    [title]="'Firmware Update History (last 50 Operations per Tenant)' | translate"
    class="scroll-column sort-fix fit-w"
    [columns]="columns"
    [pagination]="datasource.pagination"
    [selectable]="false"
    [actionControls]="[]"
    [bulkActionControls]="[]"
    [serverSideDataCallback]="datasource.serverSideDataCallback"
  >
    <c8y-column name="tenant">
      <ng-container *c8yCellRendererDef="let context">
        <ps-tenant-details [tenantId]="context.value"></ps-tenant-details>
      </ng-container>
    </c8y-column>

    <c8y-column name="firmwareURL">
      <ng-container *c8yCellRendererDef="let context">
        <a (click)="openFirmwareLinkWithCreds(context.item)">{{ context.value }}</a>
      </ng-container>
    </c8y-column>

    <c8y-column name="status">
      <ng-container *c8yCellRendererDef="let context">
        <ng-container [ngSwitch]="context.value">
          <i c8yIcon="clock-o" *ngSwitchCase="'PENDING'" [title]="'Status: ' + context.value"></i>
          <i c8yIcon="refresh" class="text-info" *ngSwitchCase="'EXECUTING'" [title]="'Status: ' + context.value"></i>
          <i c8yIcon="check" class="text-success" *ngSwitchCase="'SUCCESSFUL'" [title]="'Status: ' + context.value"></i>
          <i c8yIcon="exclamation-circle" class="text-danger" *ngSwitchCase="'FAILED'" [title]="'Status: ' + context.value"></i>
        </ng-container>
      </ng-container>
    </c8y-column>

    <c8y-column name="creationTime">
      <ng-container *c8yCellRendererDef="let context">
        {{ context.value | date: "medium" }}
      </ng-container>
    </c8y-column>
  </c8y-data-grid>
</div>
